html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2rem;
}
h1{
    font-weight: 300;
    text-shadow: 1px 1px 1px yellow;
}
p{
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: line-through;
    text-indent: 2rem;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}